@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TraoDoiDoCu.Models.Product>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<script>
    function Search() {
        var searchString = document.getElementById("searchString").value;
        var categories = document.getElementById("categories").value;
        var position = document.getElementById("position").value;
        var cost = document.getElementById("cost").value;

        location.assign("@Url.Action("Search", "Home")?searchStr=" + searchString + "&name=" + categories + "&pos=" + position + "&cost=" + cost);
    };
    $(document).ready(function () {
        var cost = $('#cost-hidden').html();
        if (cost != "") {
            $('#cost option').each(function () {
                if (this.value == cost) {
                    $('#cost').val(this.value);
                }

            });

        }
    });
</script>

<table style="width: 100%">
    <tr>
        <th style="width: 18%; padding-right: 20px">
            Tên mặt hàng
        </th>
        <th style="width: 18%; padding-right: 20px">
            Loại
        </th>
        <th style="width: 18%; padding-right: 20px">
            Nơi đăng
        </th>
        <th style="width: 18%; padding-right: 20px">
            Giá
        </th>
    </tr>
    <tr>
        <td style="width: 18%; padding-right: 20px">
            <input id="searchString" class="form-control" name="name-product" placeholder="Nhập tên mặt hàng">
        </td>
        <td style="width: 18%; padding-right: 20px">
            <select id="categories" class="form-control" name="name-category" placeholder="Loại mặt hàng">
                <option>Tất cả</option>
                @using (var db = new TraoDoiDoCu.Models.TraoDoiDoCuEntities())
                {
                    foreach (var item in db.Categories)
                    {
                        if (ViewBag.CurrentName == @item.Name)
                        {
                            <option selected>@item.Name</option>
                        }
                        else
                        {
                            <option>@item.Name</option>
                        }
                    }
                }
            </select>
        </td>
        <td style="width: 18%; padding-right: 20px">
            <select id="position" class="form-control" name="name-address" placeholder="Địa điểm">
                <option>TP HCM</option>
                <option>Hà Nội</option>
            </select>
        </td>
        <td style="width: 18%; padding-right: 20px">
            <select id="cost" class="form-control" name="name-address" placeholder="Giá">
                <option>Tất cả</option>
                <option value="Dưới 100k">Dưới 100k</option>
                <option value="100k - 500k">100k - 500k</option>
                <option value="500k - 2tr">500k - 2tr</option>
                <option value="2tr - 5tr">2tr - 5tr</option>
                <option value="5tr - 10tr">5tr - 10tr</option>
                <option value="10tr - 50tr">10tr - 50tr</option>
                <option value="Trên 50tr">Trên 50tr</option>
            </select>
        </td>
        <td style="width: 10%; text-align: right">
            <button type="submit" class="btn btn-success" onclick="Search()">Tìm kiếm</button>
        </td>
    </tr>
</table>
<table style="width: 100%">
    <tr>
        <td style="text-align:right">
            Sắp xếp:
            <span class="sort-btn btn">
                <i class="fa fa-clock-o fa-lg"></i> @Html.ActionLink("  Ngày đăng", "Search", new
                                                                      {
                                                                          name = ViewBag.CurrentName,
                                                                          searchStr = ViewBag.SearchString,
                                                                          pos = ViewBag.Position,
                                                                          sortOrder = ViewBag.DateSortParm,
                                                                          cost = ViewBag.Cost
                                                                      })
            </span>
            <span class="sort-btn btn">
                <i class="fa fa-money fa-lg"></i> @Html.ActionLink("  Giá", "Search", new
                                                                    {
                                                                        name = ViewBag.CurrentName,
                                                                        searchStr = ViewBag.SearchString,
                                                                        pos = ViewBag.Position,
                                                                        sortOrder = ViewBag.CostSortParm,
                                                                        cost = ViewBag.Cost
                                                                    })
            </span>
        </td>
    </tr>
</table>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <th style="padding-bottom: 50px">
                <div class="row product-row">
                    <div class="col-md-3 img-portfolio">
                        <a href="#">
                            <img class="img-responsive img-hover" src="http://placehold.it/400x300" alt="">
                        </a>
                    </div>
                    <div class="col-md-8 info">
                        <h4>
                            <a href="@Url.Action("Details", "Product")?id=@item.ID">
                                @item.Name
                            </a>
                        </h4>
                        <p>Giá: @item.Price</p>
                        <p class="inline">Ngày đăng: @item.PostingDate</p>
                        <p class="align-right">Nơi đăng: @item.Location</p>

                        @using (var db = new TraoDoiDoCu.Models.TraoDoiDoCuEntities())
                        {
                            foreach (var user in db.Users)
                            {
                                if (user.ID == item.UserID)
                                {
                                    <a href="@Url.Action("UserProduct", "Home")?username=@user.UserName" class="inline">Người đăng: @user.UserName</a>
                                    <span class="sort-btn btn" style="color: black"><i class="fa fa-star"></i>@user.Rating</span>
                                }
                            }
                        }
                    </div>
                </div>
            </th>
        </tr>
    }
</table>
<div id="cost-hidden" class="hidden">@ViewBag.Cost</div>
@Html.PagedListPager(Model, page => Url.Action("Search", new
{
    page = page,
    name = ViewBag.CurrentName,
    searchStr = ViewBag.SearchString,
    pos = ViewBag.Position,
    cost = ViewBag.Cost,
    sortOrder = ViewBag.DateSortParm
}), PagedListRenderOptions.OnlyShowFivePagesAtATime);