@using PagedList;
@using PagedList.Mvc;
@model TraoDoiDoCu.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Page Heading/Breadcrumbs -->
<table style="width: 100%">
    <tr>
        <td>
            <h1 class="page-header"> Chi tiết sản phẩm <small>các mặt hàng</small> </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a> </li>
                <li class="active">@Model.Name</li>
            </ol>
            <!-- Content Column - Nội dung của trang cụ thể trong div này -->
            <div class="col-md-9">
                <div class="row main_content">
                    <div class="col-md-3">
                        <img class="img-rounded" src="http://placehold.it/250x350" alt="main-image" width="250" height="350"> </img>
                    </div>
                    <div class="col-md-5">
                        <div class="row info_item">
                            <h3>@Model.Name</h3>
                            <p>@Model.Description</p>
                            <div class="info_row"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> @ViewBag.CatName </div>
                            <div class="info_row"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Ngày đăng: @Model.PostingDate </div>
                            <div class="info_row"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Gía: @Model.Price </div>
                        </div>
                        <br>
                        <div class="row info_item">
                            @Html.Action("ProductImagePartial", "Product", new { @productID = @Model.ID })
                        </div>
                        <div class="row info_row">
                            <div class="fb-share-button" data-href="https://www.facebook.com/groups/1477156625945895/" data-layout="button_count"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Action("PosterInfoPartial", "Product", new { @PosterID = @Model.UserID })
                    </div>
                </div>
                <div class="row">
                    <div id="CommentPartial">
                        @Html.Action("ProductCommentPartial", "Product", new { productID = @Model.ID, page = ViewBag.page })
                    </div>
                </div>
                <div class="row">
                    @Html.Action("SubmitComment", "Product", new { productID = @Model.ID })
                </div>
            </div>
        </td>
    </tr>
</table>
            
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright © Trang web trao đổi đồ cũ 2015</p>
        </div>
    </div>
</footer>